<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

	<head>
		<meta charset="UTF-8">
		<div th:include="~{index :: head}"></div>
		<link rel="stylesheet" th:href="@{/css/login.css}" />

		
	</head>

	<body>
		<div id="login">
			<div id="top">
				<img src="images/cloud.jpg" /><span>REGIST</span>
			</div>
			<div id="bottom">
				<form action="main" method="get">
					<table border="0px" id="table">
						<tr>
							<td class="td1">用户名：</td>
							<td><input type="text" placeholder="Username" class="td2" name="myname"></td>
						</tr>
						<tr>
							<td></td>
							<td><span id="nameerr"></span></td>
						</tr>
						<tr>
							<td class="td1">密码：</td>
							<td><input type="password" placeholder="Password" class="td2" name="mypwd"></td>
						</tr>
						<tr>
							<td></td>
							<td><span id="pwderr"></span></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="注册" class="td3">
								<input type="reset" value="取消" class="td3	">
							</td>
						</tr>
					</table>
				</form>
			</div>

		</div>
	</body>

</html>